<div class="product_item">
	<div class="image">
		<a href="#">
			<span class="labels">
				<span class="label new">new</span>
				<span class="label xit">xit</span>
				<span class="label sale">sale</span>
			</span>
			<img src="files/product.jpg" alt="">
		</a>
	</div>
	<div class="middle_detals">
		<div class="name">
			<a href="">Duotronpro S-6100 - компактная печь для синтеризации циркония</a>
		</div>
		<div class="note">Наркозно-дыхательный аппарат Mindray A5 (A-series) используется для проведения анестезии во время хирургической операции.</div>
	</div>
	<div class="bottom_detals">
		<div class="prices">
			<div class="current_price">586 560 руб.</div>
			<div class="old_price">600 000 руб.</div>
		</div>
		<div class="btn_actions">
			<div class="btn_buy">В корзину</div>
			<div class="compare_btn"></div>
			<div class="favorites_btn"></div>		
		</div>
	</div>
</div>