include _header_inner.jade
<div class="site_path">
    <div class="block_inner">
        <a href="">Главная</a><span>•</span>Стоматологическое оборудование
    </div>
</div>
<div class="content">
    <div class="content__left">
        <div id="elementNavigation" class="column">
            <div class="tabs changeTabs">
                <div class="tab" data-id=""><a href="/polimernye_smoly_dlya_3d_printerov/">Вернуться в раздел<img src="img/elementNavIco1.png" alt="Вернуться в раздел"></a></div>
            </div>
        </div>
    </div>
    <div class="content__right">
        <div class="content__right-inner">
            <div class="calculator_block_wr">
                <div class="title">Лизинговый калькулятор</div>
                <div class="text">Данный калькулятор предназначен для примерного расчёта лизинговых условий. Оставьте заявку, наши специалисты свяжутся с вами и сделают персональное предложение и расчёт</div>
                <div class="calculator_block" data-percent="0.0876">
                    <div class="coll_range">
                        <div class="field_slider">
                            <div class="name">Стоимость оборудования</div>
                            <div class="range_slider">
                                <div id="price-slider" class="calc_slider" data-min="400000" data-max="10000000" data-start="1000000" data-step="10000" data-prefix="₽" data-value="1000000"></div>
                                <div class="pips">
                                    <div class="min">от 400 000 ₽</div>
                                    <div class="max">до 10 000 000 ₽</div>
                                </div>
                            </div>
                        </div>
                        <div class="field_slider">
                            <div class="name">Авансовый платеж</div>
                            <div class="range_slider">
                                <div id="payment-slider" class="calc_slider" data-min="15" data-max="80" data-start="30" data-step="1" data-prefix="%" data-value="30"></div>
                                <div class="pips">
                                    <div class="min">15%</div>
                                    <div class="max">80%</div>
                                </div>
                            </div>
                        </div>
                        <div class="field_slider">
                            <div class="name">Срок займа</div>
                            <div class="range_slider">
                                <div id="term-slider" class="calc_slider" data-min="12" data-max="60" data-start="24" data-step="1" data-prefix="мес" data-value="24"></div>
                                <div class="pips">
                                    <div class="min">от 12 мес</div>
                                    <div class="max">до 60 мес</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result_block">
                        <div class="name">Ежемесячный платёж</div>
                        <div class="result_main"></div>
                        <div class="btn_buy">Оставить заявку</div>
                    </div>
                    <div class="note">Настоящий расчет сформирован без учета специальных предложений и носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Окончательные условия каждого договора определяются в индивидуальном порядке лизинговыми компаниями партнерами.</div>
                </div>
                <div class="text"><strong>Лизинг</strong> – это услуга для юридических лиц, по механике действия напоминающая автокредит для физического лица. Клиент, поставщик и лизинговая компания заключают трёхсторонний договор, по которому поставщик поставляет оборудование клиенту, а клиент оплачивает аванс и все дальнейшие платежи лизинговой компании, согласно выбранному графику погашения. Оборудование будет являться собственностью лизинговой компании, до тех пор, пока клиент не выплатит лизинг полностью. После погашения лизинга право собственности на оборудование переходит к клиенту.</div>
            </div>
            <div class="preim_block_wr">
                <div class="block_inner">
                    <div class="item">
                        <div class="icon">
                            <img src="files/preim_c1.svg" alt="">
                        </div>
                        <div class="name">Позволяет купить больше и лучше</div>
                        <div class="text">Лизинг позволяет купить оборудование более высокого класса, который позволит увеличить средний чек, расширить перечень предоставляемых услуг, а так же позволит проводить качественную диагностику.</div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="files/preim_c2.svg" alt="">
                        </div>
                        <div class="name">Лизинг просто получить</div>
                        <div class="text">Список предоставляемых документов для получения лизинга существенно меньше, чем для получения кредита. Вам так же не понадобятся залог и/или поручители.</div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="files/preim_c3.svg" alt="">
                        </div>
                        <div class="name">Снижает нагрузку на бюджет</div>
                        <div class="text">Покупая оборудование в рассрочку, вы должны выплатить полную стоимость максимум через 1 год. График лизинга позволяет вносить платежи до 4 лет.</div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img src="files/preim_c4.svg" alt="">
                        </div>
                        <div class="name">Вложения окупятся быстрее</div>
                        <div class="text">Вы вносите предоплату (обычно 30%) получаете оборудование сразу. Ежемесячные суммы платите с прибыли, которую приносит вам новая техника. Ваши вложения окупаются быстрее, чем при покупке «за свои» средства.</div>
                    </div>
                </div>
            </div>
            <div class="conditions_block_wr">
                <div class="left_block">
                    <div class="title">Выгодные условия:</div>
                    <ul>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon1.svg" alt="">
                            </div>
                            <div class="text">Сумма от 500 тыс. до 10 млн. рублей</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon2.svg" alt="">
                            </div>
                            <div class="text">Срок от 12 до 48 месяцев</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon3.svg" alt="">
                            </div>
                            <div class="text">Ставка 7-13%</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon4.svg" alt="">
                            </div>
                            <div class="text">Оформление онлайн для любого региона РФ</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon5.svg" alt="">
                            </div>
                            <div class="text">Решение за 24 часа после предоставления всех документов (отображается в личном кабинете)</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon6.svg" alt="">
                            </div>
                            <div class="text">Налоговые преференции для ИП и ООО</div>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="files/c_icon7.svg" alt="">
                            </div>
                            <div class="text">Лизинг не обременяет баланс компании</div>
                        </li>
                    </ul>
                </div>
                <div class="right_block">
                    <div class="title">Список необходимых документов:</div>
                    <ul>
                        <li>Устав, ИНН, ОГРН</li>
                        <li>Решение о назначении генерального директора</li>
                        <li>Фотографии офиса, помещения</li>
                        <li>Выписка из банковского счёта/счетов за 6 мес. (с назначением платежей) в т.ч. из клиент банка</li>
                        <li>Договор аренды помещения (+документ о собственности), где будет установлено оборудование</li>
                        <li>Налоговая отчетность за последний налоговый период</li>
                        <li>Информация о продажах за наличные за последние 6 мес., в той форме как ведёте (управлёнка)</li>
                    </ul>
                </div>
            </div>
            <div class="similar_block" id="similarBlock">
                <div class="title">Наши предложения</div>
                <div class="product_wr">
                    include _product.jade
                    include _product.jade
                    include _product.jade
                </div>
                <div class="btn_more">
                    <a href="" class="btn_button border">Посмотреть все</a>
                </div>
            </div>
        </div>
    </div>
</div>
             
<div class="form_q_block">
    <div class="block_inner">
        <div class="title">Есть вопросы к нам ?</div>
        <form action="">
            <div class="col_input">
                <div class="field required">
                    <input type="text" placeholder="Ваше имя" required>
                </div>
                <div class="field required">
                    <input type="text" class="phone_input" placeholder="Ваш телефон" required>
                </div>
                <button class="field btn_button">Отправить</button>
            </div>
            <div class="field checkbox required">
                <label>
                    <input type="checkbox" checked required>
                    <i></i>
                    <span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
                </label>
            </div>
        </form>
    </div>
</div>
include _footer.jade