include _header.jade
	<div class="preim_block_wr main_page">
		<div class="block_inner">
			<div class="item">
				<div class="icon">
					<img src="files/preim1.svg" alt="">
				</div>
				<div class="in">
					<div class="name">Скидки и Акции</div>
					<div class="text">Подпишитесь на нашу рассылку и узнайте первыми, когда цены опустятся ниже!</div>
				</div>	
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/preim2.svg" alt="">
				</div>
				<div class="in">
					<div class="name">Качественные товары</div>
					<div class="text">На все товары мы предоставляем сертификаты качества</div>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/preim3.svg" alt="">
				</div>
				<div class="in">
					<div class="name">Быстрая доставка</div>
					<div class="text">Вы только оплатили, а мы уже привезли!* <br>*при наличии товара на складе возможна доставка в день заказа</div>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/preim4.svg" alt="">
				</div>
				<div class="in">
					<div class="name">Индивидуальный подход</div>
					<div class="text">Для каждого клиента мы подбираем нужный ему товар</div>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/preim5.svg" alt="">
				</div>
				<div class="in">
					<div class="name">Гарантия и сервис</div>
					<div class="text">Продаём оборудование с официальной гарантией и постгарантийным обслуживанием</div>
				</div>
			</div>
		</div>
	</div>
	<div class="service_block_wr">
		<div class="block_inner">
			<div class="title">Наши услуги</div>
			<div class="inner">
				<a href="" class="item" style="background-image: url(files/service1.jpg);">
					<span class="text">проектирование <br> и лиценцирование стоматологических клиник</span>
				</a>
				<a href="" class="item" style="background-image: url(files/service2.jpg);">
					<span class="text">оснащение <br> стоматологических <br> клиник</span>
				</a>
				<a href="" class="item" style="background-image: url(files/service3.jpg);">
					<span class="text">Лизинг<br> стоматологического <br> оборудования</span>
				</a>
			</div>
		</div>
	</div>
	<div class="form_q_block">
		<div class="block_inner">
			<div class="title">Есть вопросы к нам ?</div>
			<form action="">
				<div class="col_input">
					<div class="field required">
						<input type="text" placeholder="Ваше имя" required>
					</div>
					<div class="field required">
						<input type="text" class="phone_input" placeholder="Ваш телефон" required>
					</div>
					<button class="field btn_button form_button">Отправить</button>
				</div>
				<div class="field checkbox required">
					<label>
						<input type="checkbox" checked required>
						<i></i>
						<span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
					</label>
				</div>
			</form>
		</div>
	</div>
	<div class="project_slider_clinic">
		<div class="block_inner">
			<div class="title">Проекты клиник</div>
			<div class="inner">
				<div class="swiper clinic_swiper" data-id="clinic_swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="cl_item">
								<div class="left">
									<img src="files/clinic.jpg" alt="">
								</div>
								<div class="right">
									<div class="name">Стоматология <strong>“Гранат”</strong></div>
									<div class="params">
										<ul>
											<li>
												<div class="name_p">Стоимость проекта</div>
												<span></span>
												<div class="value"><strong>4 811 800 руб.</strong></div>
											</li>
											<li>
												<div class="name_p">Город</div>
												<span></span>
												<div class="value">Новосибирск</div>
											</li>
											<li>
												<div class="name_p">Количество установок</div>
												<span></span>
												<div class="value">5</div>
											</li>
											<li>
												<div class="name_p">Площадь</div>
												<span></span>
												<div class="value">133 м<sup>2</sup></div>
											</li>
											<li>
												<div class="name_p">Сайт</div>
												<span></span>
												<div class="value"><a href=""><i>Перейти на сайт</i></a></div>
											</li>
											<li>
												<div class="name_p">Год проекта</div>
												<span></span>
												<div class="value">2022</div>
											</li>
										</ul>
									</div>
									<a href="" class="btn_button border">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="cl_item">
								<div class="left">
									<img src="files/clinic.jpg" alt="">
								</div>
								<div class="right">
									<div class="name">Стоматология <strong>“Гранат”</strong></div>
									<div class="params">
										<ul>
											<li>
												<div class="name_p">Стоимость проекта</div>
												<span></span>
												<div class="value"><strong>4 811 800 руб.</strong></div>
											</li>
											<li>
												<div class="name_p">Город</div>
												<span></span>
												<div class="value">Новосибирск</div>
											</li>
											<li>
												<div class="name_p">Количество установок</div>
												<span></span>
												<div class="value">5</div>
											</li>
											<li>
												<div class="name_p">Площадь</div>
												<span></span>
												<div class="value">133 м<sup>2</sup></div>
											</li>
											<li>
												<div class="name_p">Сайт</div>
												<span></span>
												<div class="value"><a href=""><i>Перейти на сайт</i></a></div>
											</li>
											<li>
												<div class="name_p">Год проекта</div>
												<span></span>
												<div class="value">2022</div>
											</li>
										</ul>
									</div>
									<a href="" class="btn_button border">Подробнее</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="cl_item">
								<div class="left">
									<img src="files/clinic.jpg" alt="">
								</div>
								<div class="right">
									<div class="name">Стоматология <strong>“Гранат”</strong></div>
									<div class="params">
										<ul>
											<li>
												<div class="name_p">Стоимость проекта</div>
												<span></span>
												<div class="value"><strong>4 811 800 руб.</strong></div>
											</li>
											<li>
												<div class="name_p">Город</div>
												<span></span>
												<div class="value">Новосибирск</div>
											</li>
											<li>
												<div class="name_p">Количество установок</div>
												<span></span>
												<div class="value">5</div>
											</li>
											<li>
												<div class="name_p">Площадь</div>
												<span></span>
												<div class="value">133 м<sup>2</sup></div>
											</li>
											<li>
												<div class="name_p">Сайт</div>
												<span></span>
												<div class="value"><a href=""><i>Перейти на сайт</i></a></div>
											</li>
											<li>
												<div class="name_p">Год проекта</div>
												<span></span>
												<div class="value">2022</div>
											</li>
										</ul>
									</div>
									<a href="" class="btn_button border">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-clinic-prev"></div>
					<div class="swiper_arrow_btn swiper-clinic-next"></div>
				</div>				
			</div>
			<div class="btn_more">
				<a href="" class="btn_button border">Все проекты</a>
			</div>
		</div>
	</div>
	<div class="similar_block main_page" id="similarBlock">
		<div class="block_inner">
			<div class="product-data" id="initProductTabs">
				<ul class="product-tabs">
					<li class="active-tab"><a href="#tabs-0">Новинки</a></li>
					<li><a href="#tabs-1">Хит продаж</a></li>
					<li><a href="#tabs-2">Распродажа</a></li>
					<li><a href="#tabs-3">Рекомендуем</a></li>
				</ul>
				<div class="product-desc">
					<div class="desc-area active-area" id="tabs-0">
						<div class="swiper swiper-sldier-block product_tab_swiper_0" data-id="product_tab_swiper_0" data-arrow="tab_0">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
							</div>
						</div>
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper_arrow_btn_prev swiper-tab_0-prev"></div>
							<div class="swiper_arrow_btn swiper_arrow_btn_next swiper-tab_0-next"></div>
						</div>
					</div>
					<div class="desc-area" id="tabs-1">
						<div class="swiper swiper-sldier-block product_tab_swiper_1" data-id="product_tab_swiper_1" data-arrow="tab_1">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
							</div>
						</div>
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper_arrow_btn_prev swiper-tab_1-prev"></div>
							<div class="swiper_arrow_btn swiper_arrow_btn_next swiper-tab_1-next"></div>
						</div>
					</div>
					<div class="desc-area" id="tabs-2">
						<div class="swiper swiper-sldier-block product_tab_swiper_2" data-id="product_tab_swiper_2" data-arrow="tab_2">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
							</div>
						</div>
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper_arrow_btn_prev swiper-tab_2-prev"></div>
							<div class="swiper_arrow_btn swiper_arrow_btn_next swiper-tab_2-next"></div>
						</div>
					</div>
					<div class="desc-area" id="tabs-3">
						<div class="swiper swiper-sldier-block product_tab_swiper_3" data-id="product_tab_swiper_3" data-arrow="tab_3">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
								<div class="swiper-slide">
									include _product.jade
								</div>
							</div>
						</div>
						<div class="swiper_arrow">
							<div class="swiper_arrow_btn swiper_arrow_btn_prev swiper-tab_3-prev"></div>
							<div class="swiper_arrow_btn swiper_arrow_btn_next swiper-tab_3-next"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn_more">
				<a href="" class="btn_button border">Посмотреть все</a>
			</div>
		</div>
	</div>
	<div class="select_help_wr">
		<div class="block_inner">
			<div class="title">Нужна помощь в выборе?</div>
			<div class="body">Подберем оптимальный вариант, ответим на вопросы и предложим лучшие цены!</div>
			<a href="" class="btn_button border">Перезвоните мне</a>
		</div>
	</div>
	<div class="text_block_image">
		<div class="block_inner">
			<div class="left">
				<img src="files/image_left.jpg" alt="">
			</div>
			<div class="right">
				<div class="title"><strong>DentalDealer</strong> - надеждый поставщик стоматологического оборудования</div>
				<div class="text">Наша компания была основана в 1993 году, а наш интернет-магазин стал одним из первых магазинов, осуществляющих on-line продажу мебели в регионе. Компания специализируется на оптовой и розничной продаже мебели как для дома, так и для офиса и производственных помещений, а также различной мебельной фурнитуры. <br>На данный момент мы представляем собой крупную компанию, владеющую интернет–магазином и имеющую в своей сети единый call-центр, который регулирует всю деятельность магазина, отдел продаж, службу доставки, широкий штат квалифицированных сборщиков, собственный склад c постоянным наличием необходимого запаса товаров.</div>
				<a href="" class="btn_button border">Подробнее</a>
			</div>
		</div>
	</div>
	<div class="form_bg_wr">
		<div class="block_inner">
			<div class="title">Сотрудничать с нами просто</div>
			<div class="text">Расскажите о вашем проекте, и мы подберем для Вас индивидуальное решение</div>
			<div class="inner">
				<form action="">
					<div class="col_block">
						<div class="inputs">
							<div class="field required">
								<input type="text" placeholder="Ваше имя" required>
							</div>
							<div class="field required">
								<input type="text" class="phone_input" placeholder="Ваш телефон" required>
							</div>
							
							<div class="field required">
								<input type="text" class="email_input" placeholder="Ваш e-mail" required>
							</div>
						</div>
						<div class="field textarea">
							<textarea name="" placeholder="Ваше сообщение" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="field file">
							<label class="input-file">
								<input type="file" name="file">
								<span class="input-file-btn">Прикрепите файл</span>           
								<span class="input-file-text">(до 10мб, pdf/doc/jpg/txt)</span>
								<span class="icon"></span>
							</label>
						</div>
					</div>
					<div class="field checkbox required">
						<label>
							<input type="checkbox" checked required>
							<i></i>
							<span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
						</label>
					</div>
					<div class="button_form">
						<button class="field btn_button black form_button">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="news_block_wr">
		<div class="block_inner">
			<div class="title">Новости</div>
			<div class="inner">
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/new1.jpg" alt="">
						</a>
					</div>
					<div class="body">
						<div class="date">05.09.2022</div>
						<div class="name">
							<a href="#">Идеальное фото для стоматолога - обязательное условие современной работы</a>
						</div>
						<div class="text">Покупка томографа в лизинг позволяет пользоваться оборудованием здесь и сейчас, при этом платежи за него осуществлять уже за счет полученной прибыли.</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/new2.jpg" alt="">
						</a>
					</div>
					<div class="body">
						<div class="date">05.09.2022</div>
						<div class="name">
							<a href="#">"Рабочая лошадка" в лизинг</a>
						</div>
						<div class="text">Одной из самых популярных моделей у наших клиентов является WOD-730, отличающаяся надежностью, эргономичностью и удобством использования.</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/new3.jpg" alt="">
						</a>
					</div>
					<div class="body">
						<div class="date">05.09.2022</div>
						<div class="name">
							<a href="#">Обзор интраорального сканера Alliedstar</a>
						</div>
						<div class="text">Alliedstar AS 100 - один из новейших интраоральных сканеров, представленных на рынке</div>
					</div>
				</div>
				<div class="item">
					<div class="image">
						<a href="">
							<img src="files/new4.jpg" alt="">
						</a>
					</div>
					<div class="body">
						<div class="date">05.09.2022</div>
						<div class="name">
							<a href="#">Интересные факты о бренде Anthos</a>
						</div>
						<div class="text">Надежная репутация и выгодные цены Anthos снискали бренду славу среди стоматологов по всей Италии</div>
					</div>
				</div>
			</div>
			<div class="btn_more">
				<a href="" class="btn_button border">Все новости</a>
			</div>
		</div>
	</div>			
	<div class="form_q_block bottom_form">
		<div class="block_inner">
			<div class="title">Подписаться на рассылку</div>
			<form action="">
				<div class="col_input">
					<div class="field required">
						<input type="text" class="email_input" placeholder="Ваш e-mail" required>
					</div>
					<button class="field btn_button form_button">Отправить</button>
				</div>
				<div class="field checkbox required">
					<label>
						<input type="checkbox" checked required>
						<i></i>
						<span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
					</label>
				</div>
			</form>
		</div>
	</div>
	<div class="brand_slider_wr">
		<div class="block_inner">
			<div class="swiper brand_swiper" data-id="brand_swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand1.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand2.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand3.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand4.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand5.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand6.png" alt="">
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<img src="files/brand1.png" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper_arrow_btn swiper-brand-prev"></div>
				<div class="swiper_arrow_btn swiper-brand-next"></div>
			</div>
		</div>
	</div>
include _footer.jade