include _header_inner.jade
<div class="product_list_wrap">
    <div class="block_inner">
        <div class="left_panel">
        </div>
        <div class="right_list">
            <div class="list_products">
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
            </div>
        </div>
    </div>
</div>
<div class="preim_block_wr">
    <div class="block_inner">
        <div class="item">
            <div class="icon">
                <img src="files/preim1.svg" alt="">
            </div>
            <div class="name">Скидки и Акции</div>
            <div class="text">Подпишитесь на нашу рассылку и узнайте первыми, когда цены опустятся ниже!</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim2.svg" alt="">
            </div>
            <div class="name">Качественные товары</div>
            <div class="text">На все товары мы предоставляем сертификаты качества</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim3.svg" alt="">
            </div>
            <div class="name">Быстрая доставка</div>
            <div class="text">Вы только оплатили, а мы уже привезли!* <br>*при наличии товара на складе возможна доставка в день заказа</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim4.svg" alt="">
            </div>
            <div class="name">Индивидуальный подход</div>
            <div class="text">Для каждого клиента мы подбираем нужный ему товар</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim5.svg" alt="">
            </div>
            <div class="name">Гарантия и сервис</div>
            <div class="text">Продаём оборудование с официальной гарантией и постгарантийным обслуживанием</div>
        </div>
    </div>
</div>
<div class="buy_product_more">
    <div class="block_inner">
        <div class="title">Лидеры продаж</div>
        <div class="inner">
            <div class="swiper buy_productSwiper" data-id="buy_productSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                </div>
            </div>
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-buy-prev"></div>
                <div class="swiper_arrow_btn swiper-buy-next"></div>
            </div>
        </div>
        <div class="btn_more">
            <a href="" class="btn_button border">Все товары</a>
        </div>
    </div>
</div>
<div class="text_block_image inner_page">
    <div class="block_inner">
        <div class="left">
            <img src="files/image_left.jpg" alt="">
        </div>
        <div class="right">
            <div class="text">Интернет-магазин DentalDealer предлагает качественное оборудование для оснащения стоматологического кабинета от европейских, китайских, корейских и российских производителей. В каталоге представлена продукция для крупных медицинских центров класса «люкс», государственных медицинских учреждений и небольших частных кабинетов. <br>Продажа стоматологического оборудования осуществляется оптом и в розницу. На каждый товар распространяется официальная гарантия бренда-изготовителя.</div>
        </div>
    </div>
</div>
<div class="news_block_wr">
    <div class="block_inner">
        <div class="title">Новости</div>
        <div class="inner">
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new1.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Идеальное фото для стоматолога - обязательное условие современной работы</a>
                    </div>
                    <div class="text">Покупка томографа в лизинг позволяет пользоваться оборудованием здесь и сейчас, при этом платежи за него осуществлять уже за счет полученной прибыли.</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new2.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">"Рабочая лошадка" в лизинг</a>
                    </div>
                    <div class="text">Одной из самых популярных моделей у наших клиентов является WOD-730, отличающаяся надежностью, эргономичностью и удобством использования.</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new3.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Обзор интраорального сканера Alliedstar</a>
                    </div>
                    <div class="text">Alliedstar AS 100 - один из новейших интраоральных сканеров, представленных на рынке</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new4.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Интересные факты о бренде Anthos</a>
                    </div>
                    <div class="text">Надежная репутация и выгодные цены Anthos снискали бренду славу среди стоматологов по всей Италии</div>
                </div>
            </div>
        </div>
        <div class="btn_more">
            <a href="" class="btn_button border">Посмотреть все</a>
        </div>
    </div>
</div>
<div class="form_q_block bottom_form">
    <div class="block_inner">
        <div class="title">Подписаться на рассылку</div>
        <form action="">
            <div class="col_input">
                <div class="field required">
                    <input type="text" class="email_input" placeholder="Ваш e-mail" required>
                </div>
                <button class="field btn_button form_button">Отправить</button>
            </div>
            <div class="field checkbox required">
                <label>
                    <input type="checkbox" checked required>
                    <i></i>
                    <span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
                </label>
            </div>
        </form>
    </div>
</div>
include _footer.jade