include _header_inner.jade
<div class="site_path">
    <div class="block_inner">
        <ul>
            <li><a href="">Главная</a><span>•</span></li>
            <li>Стоматологическое оборудование</li>
        </ul>
    </div>
</div>
<div class="title_block block_inner">
    <h1 class="title"><span><span>Стоматологическое оборудование</span> <i>10 234</i></span></h1>
</div>
<div class="block_rec_wr">
    <div class="block_inner">
        <a href="" class="image">
            <img src="files/ba.jpg" alt="" class="pc">
            <img src="files/ba.jpg" alt="" class="tablet">
            <img src="files/ba-mob.jpg" alt="" class="mobile">
        </a>
    </div>
</div>
<div class="links_block">
    <div class="block_inner">
        <ul>
            <li><a href="">KaVo</a></li>
            <li><a href="">Цифровая стоматология</a></li>
            <li><a href="">ХИТ! Medit i700</a></li>
            <li><a href="">Боры Dia Tessin</a></li>
            <li><a href="">Микроскопы ALLTION</a></li>
            <li><a href="">Стоматологические установки Anthos</a></li>
            <li><a href="">Дентальный микроскоп на максималках</a></li>
            <li><a href="">Сухожаровые шкафы</a></li>
            <li><a href="">Ультразвуковые мойки для инструментов</a></li>
            <li><a href="">Негатоскопы</a></li>
            <li><a href="">Автоклавы для стерилизации</a></li>
            <li><a href="">Автоклавы медицинские</a></li>
            <li><a href="">Дистилляторы стеклянные лабораторные</a></li>
            <li><a href="">Визиографы</a></li>
            <li><a href="">Гласперленовые стерилизаторы</a></li>
            <li><a href="">Стоматологическое оборудование</a></li>
            <li><a href="">Кресла стоматологические</a></li>
            <li class="last">Показать еще</li>
        </ul>
    </div>
</div>
<div class="product_list_wrap">
    <div class="block_inner">
        <div class="left_panel">
            <div class="catecor_menu">
                <ul>
                    <li class="opened">
                        <a href="">Стоматологическое оборудование</a>
                        <ul>
                            <li class="opened">
                                <a href="">Стоматологические установки</a>
                                <ul>
                                    <li><a href=""><span>Аппараты для анализа окклюзии</span> <span>6</span></a></li>
                                    <li class="opened"><a href=""><span>Интраоральные камеры</span> <span>7</span></a></li>
                                    <li><a href=""><span>Кариес-детекторы</span> <span>7</span></a></li>
                                    <li><a href=""><span>Пульптестеры</span> <span>2</span></a></li>
                                    <li><a href=""><span>Спектрофотометры </span><span>1</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Компрессоры и аспираторы</a>
                                <ul>
                                    <li><a href=""><span>пункт меню</span></a></li>
                                    <li><a href=""><span>пункт меню</span></a></li>
                                    <li><a href=""><span>пункт меню</span></a></li>
                                </ul>
                            </li>
                            <li><a href="">Диагностическое оборудование</a></li>
                            <li><a href="">Оптика для стоматологов</a></li>
                            <li><a href="">Стерилизационное оборудование</a></li>
                            <li><a href="">Лечение и профилактика</a></li>
                            <li><a href="">Рентгеновское оборудование</a></li>
                            <li><a href="">Наконечники и микромоторы</a></li>
                            <li><a href="">Хирургическое оборудование</a></li>
                            <li><a href="">Мебель медицинская</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">CAD/CAM системы</a>
                        <ul>
                            <li><a href="">Стоматологические установки</a></li>
                            <li><a href="">Компрессоры и аспираторы</a></li>
                            <li><a href="">Диагностическое оборудование</a></li>
                            <li><a href="">Оптика для стоматологов</a></li>
                            <li><a href="">Стерилизационное оборудование</a></li>
                            <li><a href="">Лечение и профилактика</a></li>
                            <li><a href="">Рентгеновское оборудование</a></li>
                            <li><a href="">Наконечники и микромоторы</a></li>
                            <li><a href="">Хирургическое оборудование</a></li>
                            <li><a href="">Мебель медицинская</a></li>
                        </ul>
                    </li>
                    <li><a href="">Наркозное оборудование</a></li>
                    <li><a href="">Зуботехническое оборудование</a></li>
                    <li><a href="">Проектирование и лицензирование</a></li>
                </ul>
            </div>
            <div class="filter_panel">
                <div class="name_filter">Фильтр:</div>
                <div class="filter_inner_main">
                    <div class="filter_inner">
                        <div class="filter_field opened">
                            <div class="field_name">Цена</div>
                            <div class="field_body">
                                <div class="inputs">
                                    <div class="field_input">
                                        <span>от</span>
                                        <input type="text" id="input-with-keypress-min" data-min="500" value="1000">
                                    </div>
                                    <div class="field_input">
                                        <span>до</span>
                                        <input type="text" id="input-with-keypress-max" data-max="5000000" value="1000000">
                                    </div>
                                </div>
                                <div class="range_slider">
                                    <div id="steps-slider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field opened">
                            <div class="field_name">Бренд</div>
                            <div class="field_body">
                                <div class="search_brand">
                                    <input type="text" placeholder="Поиск по бренду">
                                </div>
                                <div class="checkbox_field coll">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>A-dec, Inc.</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>ACTEON GROUP</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Air Techniques<n></i></label></li>
                                        <li><label><input type="checkbox"><i></i><span>amann girrbach<n></i></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Amazing White</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>ARDET DENTAL</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field opened">
                            <div class="field_name">Наличие на складе</div>
                            <div class="field_body opened">
                                <div class="checkbox_field coll">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>в наличии</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>под заказ</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field opened">
                            <div class="field_name">Страна производства</div>
                            <div class="field_body">
                                <div class="checkbox_field coll">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Австрия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Беларусь</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Германия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Израиль</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Испания</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Италия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Австрия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Беларусь</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Германия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Израиль</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Испания</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Италия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Австрия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Беларусь</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Германия</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Израиль</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Испания</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Италия</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Материал корпуса</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Алюминиевый сплав</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Медный сплав</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Нержавеющая сталь</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Титановый сплав</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Хромированная сталь</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">количество контуров</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Вид обеспечения</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">мощность</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Тип соединения</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Размер матрицы</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Освещение</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field">
                            <div class="field_name">Гарантия</div>
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Пункт</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field opened">
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Встроенная фото/викамера</span></i></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="filter_field opened">
                            <div class="field_body">
                                <div class="checkbox_field">
                                    <ul>
                                        <li><label><input type="checkbox"><i></i><span>Новинка</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Советуем</span></label></li>
                                        <li><label><input type="checkbox"><i></i><span>Хит</span></label></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter_btn">
                        <div class="apply_btn">Применить</div>
                        <div class="btn_button border reset">Сбросить</div>
                    </div>
                </div>
            </div>
            <div class="sale_block_wr">
                <div class="swiper sale_Swiper" data-id="sale_Swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="">
                                <span class="title">
                                    <span class="text">Акция на предзаказ</span>
                                    <span class="name">микроскопов Carl Zeiss</span>
                                </span>
                                <span class="image">
                                    <img src="files/sale.jpg" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="">
                                <span class="title">
                                    <span class="text">Акция на предзаказ</span>
                                    <span class="name">микроскопов Carl Zeiss</span>
                                </span>
                                <span class="image">
                                    <img src="files/sale.jpg" alt="">
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="">
                                <span class="title">
                                    <span class="text">Акция на предзаказ</span>
                                    <span class="name">микроскопов Carl Zeiss</span>
                                </span>
                                <span class="image">
                                    <img src="files/sale.jpg" alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-pagination-sale"></div>
                </div>
            </div>
            <div class="kl_block_wr">
                <div class="title">Нам доверяют</div>
                <div class="item">
                    <div class="name"><span>более</span> 180 000</div>
                    <div class="text">выполненных заказов</div>
                </div>
                <div class="item">
                    <div class="name">89%</div>
                    <div class="text">клиентов возвращаются</div>
                </div>
                <div class="item">
                    <div class="name">96%</div>
                    <div class="text">высших оценок</div>
                </div>
                <div class="body">Прочтите, <a href="">что говорят</a> наши клиенты и почему они доверяют нашему магазину</div>
            </div>
        </div>
        <div class="right_list">
            <div class="panel_action_block">
                <div class="sort_action">
                    <div class="name">Сортировать по:</div>
                    <div class="dropDownList">
                        <div class="dropDownSelected">популярности</div>
                        <div class="dropDownItems">
                            <div class="dropDownItem active">популярности</div>
                            <div class="dropDownItem">алфавиту</div>
                            <div class="dropDownItem">увеличению цены</div>
                            <div class="dropDownItem">уменьшению цены</div>
                        </div>
                    </div>
                </div>
                <div class="count_action">
                    <div class="name">Показать по:</div>
                    <div class="dropDownList">
                        <div class="dropDownSelected">24</div>
                        <div class="dropDownItems">
                            <div class="dropDownItem active">24</div>
                            <div class="dropDownItem">48</div>
                            <div class="dropDownItem">72</div>
                        </div>
                    </div>
                </div>
                <div class="view_action">
                    <div class="name">Вид каталога:</div>
                    <div class="view_btn btn_thumb active"></div>
                    <div class="view_btn btn_simple"></div>
                </div>
            </div>
            <div class="list_products">
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
                include _product.jade
            </div>
            <div class="page_list_wr">
                <div class="page_list_text">Показано 24 из 3 560 товаров (всего 155 страниц)</div>
                <ul class="page_list_items">
                    <li class="first_page"><a href="" class="prev_first">В начало</a></li>
                    <li><a href="" class="prev"></a></li>
                    <li><a href="" class="number">1</a></li>
                    <li><a href="" class="number">2</a></li>
                    <li><a href="" class="number">3</a></li>
                    <li><span class="number">4</span></li>
                    <li><a href="" class="number">5</a></li>
                    <li><a href="" class="number">6</a></li>
                    <li><a href="" class="number">7</a></li>
                    <li><a href="" class="number">8</a></li>
                    <li><a href="" class="next"></a></li>
                    <li class="last_page"><a href="" class="next_last">В конец</a></li>
                </ul>
            </div>
            <div class="select_help_wr">
                <div class="block_inner">
                    <div class="title">Нужна помощь в выборе?</div>
                    <div class="body">Подберем оптимальный вариант, ответим на вопросы и предложим лучшие цены!</div>
                    <a href="" class="btn_button border">Перезвоните мне</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_block">
    <div class="sale_block_wr">
        <div class="swiper sale_Swiper" data-id="sale_Swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <span class="title">
                            <span class="text">Акция на предзаказ</span>
                            <span class="name">микроскопов Carl Zeiss</span>
                        </span>
                        <span class="image">
                            <img src="files/sale.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <span class="title">
                            <span class="text">Акция на предзаказ</span>
                            <span class="name">микроскопов Carl Zeiss</span>
                        </span>
                        <span class="image">
                            <img src="files/sale.jpg" alt="">
                        </span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <span class="title">
                            <span class="text">Акция на предзаказ</span>
                            <span class="name">микроскопов Carl Zeiss</span>
                        </span>
                        <span class="image">
                            <img src="files/sale.jpg" alt="">
                        </span>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination-sale"></div>
        </div>
    </div>
    <div class="kl_block_wr">
        <div class="title">Нам доверяют</div>
        <div class="item">
            <div class="name"><span>более</span> 180 000</div>
            <div class="text">выполненных заказов</div>
        </div>
        <div class="item">
            <div class="name">89%</div>
            <div class="text">клиентов возвращаются</div>
        </div>
        <div class="item">
            <div class="name">96%</div>
            <div class="text">высших оценок</div>
        </div>
        <div class="body">Прочтите, <a href="">что говорят</a> наши клиенты и почему они доверяют нашему магазину</div>
    </div>
</div>
<div class="preim_block_wr">
    <div class="block_inner">
        <div class="item">
            <div class="icon">
                <img src="files/preim1.svg" alt="">
            </div>
            <div class="name">Скидки и Акции</div>
            <div class="text">Подпишитесь на нашу рассылку и узнайте первыми, когда цены опустятся ниже!</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim2.svg" alt="">
            </div>
            <div class="name">Качественные товары</div>
            <div class="text">На все товары мы предоставляем сертификаты качества</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim3.svg" alt="">
            </div>
            <div class="name">Быстрая доставка</div>
            <div class="text">Вы только оплатили, а мы уже привезли!* <br>*при наличии товара на складе возможна доставка в день заказа</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim4.svg" alt="">
            </div>
            <div class="name">Индивидуальный подход</div>
            <div class="text">Для каждого клиента мы подбираем нужный ему товар</div>
        </div>
        <div class="item">
            <div class="icon">
                <img src="files/preim5.svg" alt="">
            </div>
            <div class="name">Гарантия и сервис</div>
            <div class="text">Продаём оборудование с официальной гарантией и постгарантийным обслуживанием</div>
        </div>
    </div>
</div>
<div class="buy_product_more">
    <div class="block_inner">
        <div class="title">Лидеры продаж</div>
        <div class="inner">
            <div class="swiper buy_productSwiper" data-id="buy_productSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                    <div class="swiper-slide">
                        include _product.jade
                    </div>
                </div>
            </div>
            <div class="swiper_arrow">
                <div class="swiper_arrow_btn swiper-buy-prev"></div>
                <div class="swiper_arrow_btn swiper-buy-next"></div>
            </div>
        </div>
        <div class="btn_more">
            <a href="" class="btn_button border">Все товары</a>
        </div>
    </div>
</div>
<div class="text_block_image inner_page">
    <div class="block_inner">
        <div class="left">
            <iframe width="100%" height="380" src="https://www.youtube.com/embed/fF8qjXOQ6mE?si=3SypGdYeA06e0ulg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="right">
            <div class="text">Интернет-магазин DentalDealer предлагает качественное оборудование для оснащения стоматологического кабинета от европейских, китайских, корейских и российских производителей. В каталоге представлена продукция для крупных медицинских центров класса «люкс», государственных медицинских учреждений и небольших частных кабинетов. <br>Продажа стоматологического оборудования осуществляется оптом и в розницу. На каждый товар распространяется официальная гарантия бренда-изготовителя.</div>
        </div>
    </div>
</div>
<div class="news_block_wr">
    <div class="block_inner">
        <div class="title">Новости</div>
        <div class="inner">
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new1.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Идеальное фото для стоматолога - обязательное условие современной работы</a>
                    </div>
                    <div class="text">Покупка томографа в лизинг позволяет пользоваться оборудованием здесь и сейчас, при этом платежи за него осуществлять уже за счет полученной прибыли.</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new2.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">"Рабочая лошадка" в лизинг</a>
                    </div>
                    <div class="text">Одной из самых популярных моделей у наших клиентов является WOD-730, отличающаяся надежностью, эргономичностью и удобством использования.</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new3.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Обзор интраорального сканера Alliedstar</a>
                    </div>
                    <div class="text">Alliedstar AS 100 - один из новейших интраоральных сканеров, представленных на рынке</div>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <a href="">
                        <img src="files/new4.jpg" alt="">
                    </a>
                </div>
                <div class="body">
                    <div class="date">05.09.2022</div>
                    <div class="name">
                        <a href="#">Интересные факты о бренде Anthos</a>
                    </div>
                    <div class="text">Надежная репутация и выгодные цены Anthos снискали бренду славу среди стоматологов по всей Италии</div>
                </div>
            </div>
        </div>
        <div class="btn_more">
            <a href="" class="btn_button border">Все новости</a>
        </div>
    </div>
</div>
<div class="form_q_block bottom_form">
    <div class="block_inner">
        <div class="title">Подписаться на рассылку</div>
        <form action="">
            <div class="col_input">
                <div class="field required">
                    <input type="text" class="email_input" placeholder="Ваш e-mail" required>
                </div>
                <button class="field btn_button form_button">Отправить</button>
            </div>
            <div class="field checkbox required">
                <label>
                    <input type="checkbox" checked required>
                    <i></i>
                    <span>Я соглашаюсь на обработку моих персональных данных и с политикой конфиденциальности</span>
                </label>
            </div>
        </form>
    </div>
</div>
include _footer.jade